 <div class="inner cover">
  <h4 class="cover-heading">Make his next weekend special</h4>

  <div class="row">
    <div class="col-md-3">
       <p class="lead"> Dad's Info</p>

       <%= form_for :dad do |d| %>
        <p>
          <%= d.text_field :name, placeholder: 'Dad\'s name' %> <br />
          <%= d.text_field :email, placeholder: 'Dad\'s email' %> <br />
          <%= d.date_select :birthdate, placeholder: 'Dad\'s birthday' %> <br />
        </p>

    </div>

    <div class="col-md-3">
      <p class="lead"> Your Memories</p>
        <%#= fields_for :user do | me| %>
        <p>
          <%#= me.text_field :memory_one, placeholder: "Baby memory" %>
          <%#= me.text_field :memory_two, placeholder: "Happy time with dad" %>
          <%#= me.text_field :memory_three, placeholder: "Latest of you and dad" %>

        </p>

    </div>

     <div class="col-md-3">
       <p class="lead"> Photos </p>

        <p>
          <%#= me.file_field :photo_one %>
          <%#= me.file_field :photo_two %>
          <%#= me.file_field :photo_three %>
          <%# end %>
        </p>
    </div>

  </div>

  <p class="lead">
     <%= d.submit 'Make Dad Happy',:class => 'btn btn-lg btn-default' %>
       <% end %>
  </p>
</div>