 <div class="inner cover">
  <h4 class="cover-heading">Make his next weekend special</h4>
  <div class="row">
    <div class="col-md-3">
       <p class="lead"> Dad's Info</p>

       <%= form_for :user do |u| %>
        <p>
          <%= u.text_field :name, placeholder: 'Dad\'s name' %> <br />
          <%= u.text_field :email, placeholder: 'Dad\'s email' %> <br />
          <%= u.date_select :birthdate, placeholder: 'Dad\'s birthday' %> <br />
        </p>
    </div>

    <div class="col-md-3">
      <p class="lead"> Your Memories</p>
        <p>
          <%= u.text_field :memory_one, placeholder: "Baby memory" %>
          <%= u.text_field :memory_two, placeholder: "Happy time with dad" %>
          <%= u.text_field :memory_three, placeholder: "Latest of you and dad" %>
        </p>

    </div>

     <div class="col-md-3">
       <p class="lead"> Photos </p>

        <p>
          <%= u.file_field :photo_one %>
          <%= u.file_field :photo_two %>
          <%= u.file_field :photo_three %>
          <%= u.submit 'Make Dad Happy',:class => 'btn btn-lg btn-default' %>
          <% end %>
        </p>
    </div>

  </div>

  <p class="lead">

  </p>
</div>